.transition {
    z-index: 100000;
    background-color: rgba(12, 10, 24, 0);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(0px);
    transition-duration: 1s;
}

.transition .preloader-content {
    opacity: 0;
    transition-duration: .5s;
    transition-delay: .3s;
}

.transition.transition--in  .preloader-content {
    opacity: 1;
    transition-duration: 0s;
    transition-delay: .0s;
}


.transition.transition--in {
    opacity: 1;
    background-color: rgba(12, 10, 24, 0.8);
    backdrop-filter: blur(100px);
    transition-duration: 0s !important;
}

@media (max-width: 991px) {
    .section.is--cta .video-tablet {
        object-fit: fill !important;
    }
}